<div class = "field">
    <%= f.label "Store Name" %>
    <%= f.text_field :response %>
    <br>
    <%= f.label "List" %>
    <%= f.text_area :response %>
    <br>
    <%= f.text_area :response %>
    <%= f.label "Expected Expenses" %>
    <br>
    <%= f.text_area :response %>
</div>
<div class = "field">
    <%= f.label "response" %>
    <br>
    <%= f.text_area :response %>
</div>
