<div class = "field">
    <%= f.label "Vehicle Size" %>
    <br>
    <%= f.text_area :response %>
    <%= f.label "Address" %>
    <br>
    <%= f.text_area :response %>
    <%= f.label "Expected Expenses" %>
    <br>
    <%= f.text_area :response %>
</div>
<div class = "field">
    <%= f.label "Receipt" %>
    <br>
    <%= f.text_field :response %>
</div>
