  <div class="title">
    <h2><%= name %></h2>
  </div>
  <div>
    <%= f.label "Vehicle Size" %>
    <br>
    <%byebug%>
    <%= f.select :response, @vehicle, {multiple: true} %>
    <%byebug%>

    <br>
    <br>
    <%= f.label "Address" %>
    <br>
    <%= f.text_area :response, multiple: true %>
    <br>
    <%= f.label "Receipt Needed?" %>
    <br>
    <%= f.select :response, [['Yes', true], ['No', false]], {multiple: true} %>
 </div>
