<div class = "field">
    <%= f.label "Vehicle Size" %>
    <br>
    <%= f.select :response,  [['car', "car"], ['bike', "bike"], ['truck', "truck"]], multiple:true %>
    <br>
    <%= f.label "Address" %>
    <br>
    <%= f.text_area :response, multiple: true %>
    <br>
    <%= f.label "Receipt Needed?" %>
    <br>
    <%= f.select :response, [['Yes', true], ['No', false]], multiple: true %>
</div>
