<div class="container">
  <%=form_for task, url: task_index_path do |f| %>

    <div class = "field">
        <%= render partial: "task_details/#{category.task_type}/questions", locals: {f:f} %>
    </div>

    <div class = "field">
        <%= f.label "Due Date"%>
        <br>
        <%= f.date_field :due_date, placeholder: "dd/mm/yyyy"  %>
    </div>


    <div class = "field">
        <%= f.submit %>
    </div>
      <% end %>
</div>
