<% @current_user = current_user %>
<!DOCTYPE html>
<html>
  <head>
    <title>Task</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="banner">
      <nav>
        <%= render partial: "layouts/links", locals: {current_user: @current_user} %>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
